<layout-row id="RowLayout1" style="align-self:flex-start">
	
	
	<layout-column id="ColumnLayout1">
		<layout-column id="RowLayout2">
			
			<davinci-value-display id="IPadressLable" label="IP adress">
			</davinci-value-display>
			<davinci-text-field id="IPadress" type="text" label="format: 192.169.0.1" title="format: 192.168.0.1">
				<crown-binding event="input" name="DemoCase_LMS4000/IPadressInput" path="param/args/input" auto-commit></crown-binding>
			</davinci-text-field>
			
			
			
		</layout-column>
		
		<layout-column id="RowLayout4">
			<davinci-value-display id="meanFilterLable" label="Mean filter size">
			</davinci-value-display>
			<davinci-numeric-field id="meanFilterSize" type="outline-alt" min="1" max="99" ticks="1" group-separator=","
				decimal-separator="." format-pattern="0" value="10" title="mean filter size">
				<crown-binding event="input" name="DemoCase_LMS4000/meanFilterSizeInput" path="param/args/input"
					auto-commit></crown-binding>
			</davinci-numeric-field>
		</layout-column>
		<layout-column id="RowLayout3">
			<davinci-value-display id="recTimeLable" label="Recording time">
			</davinci-value-display>
			
			<davinci-numeric-field id="recTime" type="outline-alt" max="60" ticks="1" group-separator=","
				decimal-separator="." format-pattern="0" unit="s" title="recording time " min="1" value="30">
				<crown-binding event="input" name="DemoCase_LMS4000/recTimeInput" path="param/args/input" auto-commit>
				</crown-binding>
			</davinci-numeric-field>
			
		</layout-column>
				<layout-column id="RowLayout5">
			
			<davinci-value-display id="LinearMode" label="Linear mode">
			</davinci-value-display>
			<davinci-toggle-switch id="ToggleSwitch1" tabindex="0" color-on="secondary" title="Recording mode">
			</davinci-toggle-switch>
			
		</layout-column>
				<layout-column id="RowLayout7">
			<davinci-value-display id="EncoderResolutionLable" label="Encoder resolution in linear mode">
			</davinci-value-display>
			
			<davinci-numeric-field id="EncoderResolution" type="outline-alt" min="1" max="2000" ticks="1" group-separator="," decimal-separator="." format-pattern="0" unit="mm/tick" value="100">
			</davinci-numeric-field>
		</layout-column>
		<layout-column id="RowLayout6">
			<davinci-button id="Apply" type="outline-alt">
				<span>Apply settings</span>
				<crown-binding event="submit" name="DemoCase_LMS4000/applySettings" auto-commit></crown-binding>
				<crown-edpws-binding property="disabled" name="DemoCase_LMS4000/deactivateApplySettings" update-on-resume></crown-edpws-binding>
			</davinci-button>
			<davinci-button id="DeleteFiles" type="outline-alt" disabled>
				<span>Delete all files incl. archive</span>
				<crown-binding event="submit" name="DemoCase_LMS4000/deleteAllFiles" auto-commit>
				</crown-binding>
				<crown-edpws-binding property="disabled" name="DemoCase_LMS4000/deactivateDeleteAllFiles"
					update-on-resume></crown-edpws-binding>
			</davinci-button>
		</layout-column>
		
	</layout-column>
</layout-row>