<layout-column id="RowLayout1" style="justify-content:space-between;align-items:center">
	<layout-column id="RowLayout5">
		<layout-row id="ColumnLayout7">
		
		<layout-column id="ColumnLayout3">
				<davinci-value-display id="Components" label="SICK components">
		</davinci-value-display>
			<layout-row id="RowLayout3" style="justify-content:space-between;align-content:stretch;align-self:stretch">
				<layout-column id="ColumnLayout2">
					<davinci-text-area id="LMS" label="LiDAR" readonly style="flex-grow:1;align-self:stretch" multiline>
						<crown-edpws-binding property="value" name="DemoCase_LMS4000/printLMS" update-on-resume>
						</crown-edpws-binding>
					</davinci-text-area>
					<davinci-text-area id="Encoder" label="Incremental encoder" readonly
						style="flex-grow:1;align-self:stretch">
						<crown-edpws-binding property="value" name="DemoCase_LMS4000/printEncoder" update-on-resume>
						</crown-edpws-binding>
					</davinci-text-area>
				</layout-column>
				<layout-column id="ColumnLayout5">
					<davinci-text-area id="SIM" readonly label="Sensor integration machine"
						style="flex-grow:1;align-self:stretch" multiline>
						<crown-edpws-binding property="value" name="DemoCase_LMS4000/printSIM" update-on-resume>
						</crown-edpws-binding>
					</davinci-text-area>
					<davinci-text-area id="Switches" label="Inductive switches" readonly
						style="flex-grow:1;align-self:stretch">
						<crown-edpws-binding property="value" name="DemoCase_LMS4000/printSwitches" update-on-resume>
						</crown-edpws-binding>
					</davinci-text-area>
				</layout-column>
			</layout-row>
			
				<davinci-value-display id="AppState" label="App state">
			</davinci-value-display>
			<layout-row id="RowLayout2" style="align-items:stretch;align-content:stretch;align-self:stretch">
				<davinci-text-field id="AppStates" type="text" readonly
					style="align-self:stretch;flex-basis:auto;flex-grow:1;flex-shrink:0">
					<crown-edpws-binding property="value" name="DemoCase_LMS4000/updateState" update-on-resume>
					</crown-edpws-binding>
				</davinci-text-field>
				<davinci-button id="Reconnect" type="bare-alt" icon="action/cached" disabled>
					<span></span>
					<crown-binding event="submit" name="DemoCase_LMS4000/reconnectLiDAR" auto-commit></crown-binding>
					<crown-edpws-binding property="disabled" name="DemoCase_LMS4000/deactivateReconnect"
						update-on-resume></crown-edpws-binding>
				</davinci-button>
			</layout-row>
			<davinci-value-display id="Recordings" label="Recordings">
			</davinci-value-display>
			<layout-row id="RowLayout6" style="align-self:flex-start;align-items:center;justify-content:space-between">
				<layout-column id="ColumnLayout4" style="align-self:center">
					<davinci-scan-viewer-as style="width:330px;height:calc(40vh - 50px);flex-grow:1;align-self:baseline"
						id="Thumbnail" grid-size="10000" grid-font-size="0" background-color="0xffffff"
						shape-editor="disabled" viewer-id="Thumbnail" disable-origin-axis>
						<davinci-view-camera position="[-5000, 6000, 1500]" near="40" far="100000" fov="30"
							pan-speed="100" zoom-speed="1000">
					</davinci-scan-viewer-as>
				</layout-column>
				<layout-column id="ColumnLayout6">
						<layout-row id="RowLayout4"
						style="align-self:center;align-content:center;justify-content:center;align-items:center">
						<davinci-button id="Previous" type="bare-alt" icon="navigation/arrow_back">
							<span></span>
							<crown-binding event="submit" name="DemoCase_LMS4000/previousPointCloud" auto-commit>
							</crown-binding>
						</davinci-button>
						<davinci-value-display id="FileCount">
							<crown-edpws-binding property="value" name="DemoCase_LMS4000/updateFileCount"
								update-on-resume></crown-edpws-binding>
						</davinci-value-display>
						<davinci-button id="Next" type="bare-alt" icon="navigation/arrow_forward">
							<span></span>
							<crown-binding event="submit" name="DemoCase_LMS4000/nextPointCloud" auto-commit>
							</crown-binding>
						</davinci-button>
					</layout-row>
											
						<davinci-text-area id="Characteristics" multiline readonly style="align-self:stretch;flex-grow:1">
						<crown-edpws-binding property="label" name="DemoCase_LMS4000/printThumbnailFileName"
							update-on-resume></crown-edpws-binding>
						<crown-edpws-binding property="value" name="DemoCase_LMS4000/printThumbnailCharacteristics"
							update-on-resume></crown-edpws-binding>
					</davinci-text-area>
					
				</layout-column>
			</layout-row>
			
				
		</layout-column>
			<layout-column id="ColumnLayout1" style="justify-content:center">
				<davinci-scan-viewer-as style="width:1000px;height:calc(104vh - 200px);flex-grow:1" id="ScanViewerAS1"
				grid-size="10000" grid-font-size="50" background-color="0xffffff" shape-editor="disabled"
				viewer-id="scanViewer" enable-ray-info>
				<davinci-view-camera position="[-7000, 8000, 2000]" near="40" far="100000" fov="30" pan-speed="100"
					zoom-speed="1000">
			</davinci-scan-viewer-as>
	</layout-column>
			
	</layout-row>
		<layout-row id="RowLayout11" style="align-items:center;align-content:center">
				<davinci-button id="Load PointCloud" type="primary" disabled>
					<span>Transfer to main window</span>
					<crown-binding event="submit" name="DemoCase_LMS4000/loadPointCloud" auto-commit>
					</crown-binding>
					<crown-edpws-binding property="disabled" name="DemoCase_LMS4000/deactivateLoadPointCloud"
						update-on-resume></crown-edpws-binding>
				</davinci-button>
				<davinci-button id="reuturnToLiveData" type="primary" disabled>
					<span>Live data</span>
					<crown-binding event="submit" name="DemoCase_LMS4000/returnLiveData" auto-commit>
					</crown-binding>
					<crown-edpws-binding property="disabled" name="DemoCase_LMS4000/deactivateReturnLiveData"
						update-on-resume></crown-edpws-binding>
				</davinci-button>
				<appspace-file-download-button id="FileDownloadButton1" title="Download">Download
				</appspace-file-download-button>
						<davinci-button id="Delete" type="primary">
				<span>Delete</span>
				<crown-binding event="submit" name="DemoCase_LMS4000/deleteCurrentPCD" auto-commit></crown-binding>
			</davinci-button>
			<appspace-file-download-button id="FileDownloadButton2" downloaded-filename="tutorial.pptx"
				file-path="/resources/slides/tutorial.pptx" title="Download">Help</appspace-file-download-button>
			
			<davinci-value-display id="ValueDisplay2" value="Support: ">
			</davinci-value-display>
			<davinci-link id="SupportPortal" href="https://supportportal.sick.com/">
				<span>supportportal.sick.com</span>
			</davinci-link>
			<davinci-value-display id="ValueDisplay3" value="This app:">
			</davinci-value-display>
			<davinci-link id="GitLab"
				href="https://gitlab.sickcn.net/GBC08/Marketing/appspace-bu83/public/sim/lms4000-demo-case">
				<span>gitlab.sickcn.net</span>
			</davinci-link>
			</layout-row>
	</layout-column>
	
		
	
	
</layout-column>